.creategroup-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
  font-family: Kulim Park;
  height: 100%;

  .main-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 1rem;

    .details-section {
      display: flex;
      width: 100%;

      img {
        height: 120px;
        width: 120px;
        margin: 1rem 1rem 0 0;
      }

      .name-color-about {
        flex-grow: 1;

        input {
          border: none;
          outline: none;
          color: black;
          text-decoration: underline;
          font-size: 20px;
        }

        textarea {
          flex-grow: 1;
          background-color: #FDEFEF;
          border-radius: 10px;
          border: none;
          font-size: 20px;
          padding-top: 1rem;
          padding-left: 0.5rem;
          margin-top: 0.5rem;
        }
      }
    }

    .members-section {
      display: flex;
      flex-direction: row;

      .list-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        .member-grid {
          display: grid;
          grid-template-columns: 50% 50%;
          .member-status {
            display: flex;
            flex-direction: row;
            margin: 1rem 0;
  
            img {
              margin-left: 3rem;
              margin-right: 1rem;
              width: 80px;
              height: 80px;
              border-radius: 50%;
            }
          }
  
          .member-status:hover {
            cursor: pointer;
            scale: 104%;
          }
  
          h2 {
            text-align: center;
          }
        }
        
      }
    }

    .action-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      button {
        height: 40px;
        width: 178px;
        margin: 2rem;
        border: none;
        cursor: pointer;
      }
      :first-child {
        color: white;
        background-color: #68cc58;
        box-shadow: #4b9140 5px 5px;
        font-size: 20px;
      }
      :last-child {
        color: white;
        background-color: #ceb1be;
        box-shadow: #b97375 5px 5px;
        font-size: 20px;
      }
      :active {
        translate: 5px 5px;
        box-shadow: none;
      }
    }
  }

  .faq-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    .add-section {
      flex: 4;
      display: flex;
      flex-direction: column;

      .add-box {
        flex: 1.2;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
      }

      .member-status {
        display: flex;
        flex-direction: row;
        margin: 1rem 0;

        img {
          margin-right: 1rem;
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }

      .friends-box {
        flex: 2;
        margin-right: 1rem;
        margin-bottom: 1rem;

        .friends {
          background-color: #f8f4e3;
          display: grid;
          grid-template-columns: 50% 50%;
          padding: 1rem;
          flex-grow: 1;

          .friend-holder {
            margin-top: 1rem;
            cursor: pointer;
            display: flex;
          }

          .friend-holder:hover {
            scale: 104%;
          }

          img {
            height: 80px;
            width: 80px;
            margin-right: 10px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
