@import '../../assets/styles/base.scss';

.primary-brown {
    background-color: $brown-color;
    color: $white;
    font-size: 2rem;
    border: none;
    box-shadow: $grey 5px 5px;
    cursor: pointer;
    font-family: Kulim Park;
    
    &:active {
        translate: 5px 5px;
        box-shadow: none;
    }
}

.primary-yellow {
    background-color: $yellow;
    color: $brown-color;
    width: 10.25rem;
    height: 3.125rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    font-family: Kulim Park;
}
