.create-post-container {
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 10px;

  .header {
    margin-bottom: 1rem;
    .toggle-pill {
      background-color: white;
      border-radius: 20px;
      padding: 0.5rem 1.5rem;
      font-size: 20px;
      margin: 0 0.5rem;

      input {
        cursor: pointer;
      }
    }

    .type-dropdown {
      border: none;
      border-radius: 20px;
      padding: 0.5rem 1.5rem;
      font-size: 20px;
    }

    .cross-button {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0.2rem;
      cursor: pointer;
    }
  }

  .body {
    .inp {
      border: none;
      border-radius: 20px;
      margin: 0 0.5rem;
      margin-bottom: 1rem;
      text-align: start;
      font-size: 24px;
      padding-left: 0.5rem;
      font-family: Kulim Park;
    }

    .deadline-input {
      border: none;
      padding: 0.2rem;
      font-family: Kulim Park;
    }
  }
}
