$brown-color: #2D2D34;

.details {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 70%;
    color: white;
    font-family: Kulim Park;

    .info-column {
        background-color: $brown-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 48px;
            font-weight: 400;
            margin: -3px;
        }
        p {
            font-size: 38px;
            text-align: center;
            max-width: 70%;
        }

        .input-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
        }
    }

    .logo-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;

        span {
            position: absolute;
            top: 2rem;
            left: 1rem;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}