// Colors
$brown-color: #2d2d34;
$white: #f8f4e3;
$grey: #a2a392;
$yellow: #ffd946;

// Widths
.w-12 {
  width: 12rem;
}

.w-100-perc {
  width: 100%;
}

// Margins
.m-8 {
  margin: 8px;
}

.m-2 {
  margin: 2px;
}

.m-0 {
  margin: 0;
}
//------------Background colors------------//

.color-bg-A3CEF1 {
  background-color: rgba(#A3CEF1, 0.7);
}

.color-bg-274C77 {
  background-color: #274C77;
}

.color-bg-DBB6C2 {
  background-color: rgba(#DBB6C2, 0.7);
}

.color-bg-F0D8E0 {
  background-color: #F0D8E0;
}

.color-bg-9DD68F {
  background-color: rgba(#9DD68F, 0.7);
}

.color-bg-D8FCCF {
  background-color: #D8FCCF;
}

.color-bg-E2DCDE {
  background-color: #E2DCDE;
}

.color-bg-C7DBE6 {
  background-color: #C7DBE6;
}

.color-bg-79A3D3 {
  background-color: #79a3d3;
}

//------------Font colors------------//

.color-font-white {
  color: white;
}

.color-font-black {
  color: black;
  img {
    filter: saturate(100%) brightness(0%);
  }
}

.color-font-707070 {
  color: #707070;
}


//------------Font alignment------------//

.font-center {
  text-align: center;
}

//------------Padding------------//

.padding-1-1-2-1 {
  padding: 1rem 1rem 2rem 1rem;
}

//------------Foint------------//

.font-36 {
  font-size: 36px;
}

.font-32 {
  font-size: 32px;
}


.font-20 {
  font-size: 20px;
}

.font-16 {
  font-size: 16px;
}

.font-weight-400 {
  font-weight: 400;
}

//------------Heights------------//

.h-3 {
  height: 3rem;
}

.h-4 {
  height: 4rem;
}

.h-10 {
  height: 10rem;
}

.h-11 {
  height: 11rem;
}

.h-12 {
  height: 12rem;
}

.h-20 {
  height: 20rem;
}

.min-height-200 {
  min-height: 200px !important;
}

//------------Cursors------------//

.cursor-pointer {
  cursor: pointer;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}



.justify-content-spacearound {
  justify-content: space-around;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

//------------Decoration------------//

.underline {
  text-decoration: underline;
}

.green-circle {
  border-radius: 50%;
  background-color: #68CC58;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}
.red-circle {
  border-radius: 50%;
  background-color: #ee4949;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}