// Colors
$brown-color: #2d2d34;
$white: #f8f4e3;
$grey: #a2a392;
$yellow: #ffd946;

// Widths
.w-12 {
  width: 12rem;
}

// Heights
.h-4 {
  height: 4rem;
}

// Margins
.m-8 {
  margin: 8px;
}

.color-bg-A3CEF1 {
  background-color: rgba(#A3CEF1, 0.7);
}

.color-bg-274C77 {
  background-color: #274C77;
}

.color-bg-DBB6C2 {
  background-color: rgba(#DBB6C2, 0.7);
}

.color-bg-F0D8E0 {
  background-color: #F0D8E0;
}

.color-bg-9DD68F {
  background-color: rgba(#9DD68F, 0.7);
}

.color-bg-D8FCCF {
  background-color: #D8FCCF;
}

.color-font-white {
  color: white;
}

.color-font-black {
  color: black;
}
